
<div class="ui floating message">Please edit country information.</div>
<div class="ui basic segment">
  <div class="ui equal width center grid">
    <div class="row grey">
      <div class="column">Country name: {$phlex_fp_country__name}</div>
      <div class="column">Iso: {$phlex_fp_country__iso}</div>
    </div>
    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
      <div class="column">iso3: {$phlex_fp_country__iso3}</div>
      <div class="column">Phone: {$phlex_fp_country__phonecode}</div>
      <div class="column">Number Code: {$phlex_fp_country__numcode}</div>
    </div>
    <div class="centered row">
      <div class="colum">{$Buttons}</div>
    </div>
  </div>
</div>
