|<div id="{$_id}" class="{_ui}ui{/} {$class} {_class}ui left icon action transparent input{/}" style="{$style}" {$attributes}>
|    <i class="phlex-filter-icon {$FilterIcon} icon"></i>
|    <input type="text" placeholder="{$Placeholder}" style="border:none" class="phlex-grid-search">
|    <button class="phlex-search-button {$Button}" style="{button_style}padding: 2px 0px; border: 0px; box-shadow: none; height: 24px{/}">
|        <i class="phlex-search-icon {$BtnSearchIcon} link icon" style="margin:auto"></i>
|        <i class="phlex-remove-icon {$BtnRemoveIcon} link icon" style="margin:auto"></i>
|    </button>
|</div>
= "\n"
