.phlex-layout
  .ui.left.vertical.menu.inverted.labeled.sidebar.phlex-sidenav(class="{CssVisibility}visible{/}")
    | {$LeftMenu}
  main.phlex-mainContainer.phlex-admin-layout
    | {$TopMenu}
    .phlex-mainContainerWrapper
      | {$Content}
  footer.phlex-footer
    .ui.divider
    .ui.center.aligned.basic.segment {Footer}Made with #[a(href='https://phlex.dev/' target='_blank') Phlex UI] v{$version}{/}
  .phlex-overlay.pushable
    .pusher
= "\n"
