div(id="{$_id}" class="{_ui}{/} {$class} {$_class}" style="{$style}")
    .ui.padded.grid
        .row.phlex-maestro-menu-title
            .two.wide.column.phlex-submenu-toggle
                div
                    i.icon.caret.right
            .eleven.wide.column.phlex-menu-group-title
                header
                    | {$title}
            .three.wide.column
                | {$Icon}
        .row.phlex-maestro-menu-items
            .sixteen.wide.column
                .menu
                    | {$Content}
= "\n"
